.landing-threshold {
  height: 100%;
}

@media (min-width: 992px) {
  .landing-threshold {
    height: 100vh;
  }
}

.landing-threshold h1 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 32px;
}

@media (min-width: 992px) {
  .landing-threshold h1 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 60.4px;
  }
}

/* brands */

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

/* home-2 */

#home-2 {
  font-family: Poppins, sans-serif;
}

#home-2 h2 {
  font-family: 'Poppins';
  font-size: 28px;
  margin-bottom: 20PX;
}

@media (min-width: 992px) {
  #home-2 h2 {
    font-family: 'Poppins';
    font-size: 42px;
    margin-bottom: 20PX;
  }
}

#home-2 .shadow.home-2-div {
  background-color: #fff;
  padding: 5px 5PX;
  padding-top: 0PX;
}

@media (min-width: 992px) {
  #home-2 .shadow.home-2-div {
    margin-left: -100px;
    background-color: #fff;
    padding: 10px 20PX;
    padding-top: 0PX;
  }
}

#gallery h2 {
  font-family: Poppins, sans-serif;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 32px;
}

@media (min-width: 992px) {
  #gallery h2 {
    font-family: Poppins, sans-serif;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 42px;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--indigo);
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

/* nav-main */

.dropdown-item {
  font-family: Poppins, sans-serif;
  border-bottom: 1px solid #c0c0c0;
}

.header-div {
  font-family: Poppins, sans-serif;
  margin-bottom: 3rem;
  color: #fff;
  margin-top: 5REM;
}

.header-div h2 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
}

.header-div h1 {
  font-family: 'Poppins';
  font-weight: 500;
  margin-top: 10px;
  font-size: 32px;
}

@media (min-width: 992px) {
  .header-div h1 {
    font-size: 52px;
  }
}

